<template>
  <div class="fetch">
    <h1>Test des datas</h1>
    <div>{{ jetpacks }}</div>
  </div>
</template>

<script>
export default {
  name: "Fetch",

  data () {
    return {
      jetpacks: []
    }
  },

  mounted () {
    fetch("/jetpacks")
      .then(res => res.json())
      .then(jetpacks => (this.jetpacks = jetpacks))
  }
}
</script>
