<template>
  <div class="home">
    <v-container fluid>
      <v-layout justify-space-around>
        <v-flex justify-center>
          <div class="text-xs-center">
            <img
              alt="Vue logo"
              src="../assets/logo2.png"
            >
          </div>
        </v-flex>
      </v-layout>
    </v-container>  
    
    <ListJet />
  </div>
</template>

<script>
// @ is an alias to /src
import ListJet from "@/components/ListJet.vue"

export default {
  name: "Home",
  components: {
    ListJet
  }
}
</script>
