<template>
  <div
    id="fetch"
    style="max-width: 70%; margin: auto;"
    class="fetch grey lighten-3 mt-5"
  >
    <v-card>
      <v-tabs
        centered
        color="red accent-1"
        dark
        icons-and-text
      >
        <v-tabs-slider color="yellow" />
        <v-tab
          id="dateSearch"
          href="#tab-1"
        >
          Recherche par date
          <v-icon>date_range</v-icon>
        </v-tab>

        <v-tab
          id="nameSearch"
          href="#tab-2"
        >
          Recherche par nom
          <v-icon>person</v-icon>
        </v-tab>

        <v-tab-item
          v-for="i in 2"
          :key="i"
          :value="'tab-' + i"
        >
          <v-card flat>
            <v-card-text>
              <div v-if="i==1">
                <datepicker @select-date="getDates" />
              </div>
              <div v-else>
                <v-autocomplete
                  id="searchJet"
                  v-model="model"
                  :items="getNames"
                  label="Nom du JetPack"
                  persistent-hint
                  prepend-icon="mdi-city"
                >
                  <template v-slot:append-outer>
                    <v-slide-x-reverse-transition mode="out-in">
                      <v-icon
                        :key="`icon-${isEditing}`"
                        :color="isEditing ? 'success' : 'info'"
                        @click="isEditing = !isEditing"
                        v-text="isEditing ? 'mdi-check-outline' : 'mdi-circle-edit-outline'"
                      />
                    </v-slide-x-reverse-transition>
                  </template>
                </v-autocomplete>
              </div>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>
      <v-layout
        row
        wrap
      >
        <v-flex
          v-for="(jetpack,number) in listJet"
          :key="jetpack.id"
          xs6
        >
          <v-card
            color="red lighten-5"
            class="black--text"
          >
            <v-layout>
              <v-flex xs5>
                <v-img
                  :src="jetpack.image"
                  height="100px"
                  class="ma-2"
                  contain
                />
              </v-flex>
              <v-flex xs7>
                <v-card-title primary-title>
                  <div>
                    <div class="headline jetpackTitle">
                      {{ jetpack.name }}
                    </div>
                    <div
                      v-for="date in jetpack.start_date"
                      :key="date.id"
                    >
                      Réservation validée:
                      <ul>
                        <li>
                          Date de début: {{ formatDate(date.start_date) }}
                        </li>
                        <li>
                          Date de fin: {{ formatDate(date.end_date) }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </v-card-title>
              </v-flex>
            </v-layout>
            <v-divider light />
            <v-card-actions class="pa-3 justify-center">
              <div v-if="display">
                <v-btn
                  :id="number"
                  dark
                  color="deep-orange accent-3"
                  @click="createBooking(jetpack.id)"
                >
                  Réserver
                </v-btn>
              </div>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-card>

    <v-snackbar
      v-model="snackbar"
      :color="snackbarColor"
      :timeout="snackbarTimeout"
      top
    >
      {{ snackbarMsg }}
      <v-btn
        color="red"
        flat
        @click="snackbar = false"
      >
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import datepicker from "@/components/DateSearch.vue"
import httpClient from '@/httpClient'
import moment from 'moment'

export default {
  components: {
    datepicker,
  },
  data () {
    return {
      snackbar: false,
      snackbarColor: "success",
      snackbarMsg: "",
      snackbarTimeout: 5000,
      display: true,
      isEditing: false,
      model: null,
      jetpacks: [],
      names: [],
      availabilities: [],
      date_start: null,
      date_end: null,
      jet: [],
      bookings: [],
      revalidate: false,
      jetpacksB: []
    }
  },

  computed: {
    getNames () {
      return this.jetpacks.map(function (jetpacks) {
        return jetpacks.name
      })
    },
    listJetpacks () {
      return this.jetpacks.filter(x => this.jet.includes(x.id))
    },
    listJet () {
      if (this.revalidate) {
        return []
      } else {
        var res = []
        for (var jet in this.listJetpacks) {
          var moreJet = new Object()
          moreJet.id = this.listJetpacks[jet].id
          moreJet.name = this.listJetpacks[jet].name
          moreJet.image = this.listJetpacks[jet].image
          moreJet.start_date = this.bookings.filter(x => this.listJetpacks[jet].id == x.jetpack_id)
          moreJet.end_date = this.bookings.filter(x => this.listJetpacks[jet].id == x.jetpack_id)
          res.push(moreJet)

        }
        return res

      }



    },


  },
  created () {
    httpClient.get('/jetpacks').then(jet => (this.jetpacks = jet))
    httpClient.get('/availabilities').then(av => (this.availabilities = av))

  },
  mounted () {

  },

  methods: {

    includes (dateStart, dateEnd) {
      return moment(this.date_start).isSameOrAfter(dateStart) && moment(this.date_end).isSameOrBefore(dateEnd)
    },

    getBooks () {

      this.display = true
      for (var availability in this.availabilities) {

        if (this.includes(this.availabilities[availability].start_date, this.availabilities[availability].end_date)) {
          this.jet.push(this.availabilities[availability].jetpack_id)
        }
      }
      this.revalidate = false


    },
    getDates (dateStart, dateEnd) {

      this.date_start = dateStart
      this.date_end = dateEnd
      this.getBooks()

    },
    createBooking (jetpack_id) {

      this.display = false
      console.log(moment.utc(this.date_start, "DD/MM/YYYY H:mm"))
      httpClient.post('/bookings', {
        jetpack_id: jetpack_id,
        start_date: this.date_start,
        end_date: this.date_end
      })
        .then(bookings => (this.bookings.push(bookings)))
      this.showSnackbar("success", "Réservation ajoutée!")
      setTimeout("location.reload(true);", 2000)


    },
    formatDate (date) {
      moment.locale('fr')
      return moment(date).format("LLLL")

    },


    showSnackbar (color, msg) {
      this.snackbarColor = color
      this.snackbarMsg = msg
      this.snackbar = true
    }
  }
}
</script>