<template>
  <v-form
    ref="form"
    lazy-validation
  >
    <v-card
      class="mx-auto"
      dark
      color="#ff000059"
      max-width="600"
    >
      <v-card-title>
        <v-icon
          large
          left
        >
          mdi-twitter
        </v-icon>
        <span
          id="titleDate"
          class="title font-weight-light"
        >Recherche par date</span>
      </v-card-title>
      <v-card-text class="headline font-weight-bold">
        <datetime
          id="first"
          :idhour="hourClass1"
          :labeldate="labelDateStart"
          :labelhour="labelHourStart"
          :iddate="dateClass1"
          @selectedd="changeDateStart"
          @selected="changeHour"
        />

        <datetime
          id="two"
          :date="date"
          :hour="hour"
          test="secondDatee"
          :idhour="hourClass2"
          :iddate="dateClass2"
          :labeldate="labelDateEnd"
          :labelhour="labelHourEnd"
          @selectedd="changeDateEnd"
          @selected="changeHourEnd"
        />
      </v-card-text>
      <v-card-actions id="snackBar">
        <v-list-tile class="grow">
          <v-layout
            align-center
            justify-end
          >
            <v-icon class="mr-1">
              mdi-heart
            </v-icon>
            <v-btn
              id="submit"
              test="btnSubmit"
              color="success"
              @click="validate"
            >
              Validate
            </v-btn>
            <v-snackbar
              v-model="snackbar"
              :color="snackbarColor"
              :timeout="snackbarTimeout"
              top
            >
              {{ snackbarMsg }}
              <v-btn
                color="red"
                flat
                @click="snackbar = false"
              >
                <v-icon>close</v-icon>
              </v-btn>
            </v-snackbar>

            <v-icon class="mr-1">
              mdi-share-variant
            </v-icon>
          </v-layout>
        </v-list-tile>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script>
import moment from 'moment-timezone'
import datetime from '@/components/DateTime.vue'

export default {
  components: {
    datetime
  },
  data () {
    return {
      snackbar: false,
      snackbarColor: "success",
      snackbarMsg: null,
      snackbarTimeout: 5000,
      jetpacks: [],
      availabilities: [],
      names: [],
      date: new Date().toISOString().substr(0, 10),
      dateEnd: new Date().toISOString().substr(0, 10),
      hour: null,
      hourEnd: null,
      labelDateStart: "Date de début",
      labelDateEnd: "Date de fin",
      labelHourStart: "Heure du début",
      labelHourEnd: "Heure de fin",
      hourClass1: "hour1",
      hourClass2: "hour2",
      formatDateStart: null,
      formatDateEnd: null,
      dateClass2: "date2",
      dateClass1: "date1",
      dateNow: moment(new Date().toISOString()).format()

    }
  },
  methods: {
    changeDateStart (selectedDate) {
      this.date = selectedDate
    },
    validate () {
      this.formatDateStart = moment(this.date + " " + this.hour).format()
      this.formatDateEnd = moment(this.dateEnd + " " + this.hourEnd).format()
      this.errorMsg = ""
      // Test mandatory variables
      if (this.formatDateStart === 'Invalid date' || this.formatDateEnd === 'Invalid date' || moment(this.formatDateEnd).isBefore(this.formatDateStart)
        || moment(this.formatDateStart).isBefore(this.dateNow)) {
        this.errorMsg = "Veuillez entrer des dates valides"
        this.showSnackbar("error", this.errorMsg)
      }
      else {
        this.$emit('select-date', this.formatDateStart, this.formatDateEnd)
      }
    },
    changeDateEnd (selectedDate) {
      this.dateEnd = selectedDate
    },
    changeHour (selectedHour) {
      this.hour = selectedHour
    },
    changeHourEnd (selectedHour) {
      this.hourEnd = selectedHour
    },
    showSnackbar (color, msg) {
      this.snackbarColor = color
      this.snackbarMsg = msg
      this.snackbar = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->