<template>
  <v-layout
    row
    wrap
    justify-space-around
  >
    <v-flex
      xs12
      lg6
    >
      <v-menu
        ref="menu1"
        v-model="menu1"
        test="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
        @click="emitdate"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            id="date"
            :class="iddate"
            persistent-hint
            prepend-icon="event"
            :value="date"
            clearable
            :label="labeldate"
            v-on="on"
          />
        </template>

        <v-date-picker
          id="emitdate"
          v-model="date"
        
          
          no-title
          locale="fr"
          :min="minDate"
          @change="emitdate"
        />
      </v-menu>
    </v-flex>

    <v-flex
      xs12
      lg6
    >
      <v-menu
        ref="menu2"
        v-model="menu2"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        max-width="290px"
        min-width="290px"
        :close-on-content-click="false"
      >
        <template v-slot:activator="{ on }">
          <v-text-field
            id="hourfield"
            test="hourTest"
            :class="idhour"
            persistent-hint
            prepend-icon="access_time"
            :value="hour"
            clearable
            :label="labelhour"

            required
            v-on="on"
          />
        </template>
        <v-time-picker
          id="hourpicker"
          v-model="hour"
          data-hour
          class="mt-3"
          format="24hr"
          @change="emitHour"
        />
      </v-menu>
    </v-flex>
  </v-layout>
</template>
<script>


export default {
  name:"DateTime",
  props: {
    labeldate: {
      type: String,
      default: "Date"
    },
    labelhour: {
      type: String,
      default: "hour"
    },
    idhour:{
      type: String,
      default: "hour"
    },
    iddate:{
      type: String,
      default: "date"
    }

  },
  data () {
    return {
      count: 0,
      date: new Date().toISOString().substr(0, 10),
      hour: null,
      menu1: false,
      menu2: false,
    }
  },

  computed: {
    minDate () {
    const today = new Date()
    // const dd = today.getUTCDate();
    return this.formatDate(today)
  },
  },
  methods: {
    emitdate (date) {
      this.menu1 = false
      this.$emit('selectedd', date)
    },
    emitHour (hour) {
      this.menu2 = false
      this.$emit('selected', hour)
    },
    formatDate (date) {
    let month = `${date.getMonth() + 1}`
    let day = `${date.getDate()}`
    const year = date.getFullYear()

    if (month.length < 2) month = `0${month}`
    if (day.length < 2) day = `0${day}`

    return [year, month, day].join('-')
  }

  }
}
</script>