<template>
  <div
    id="fetch"
    style="max-width: 70%; margin: auto;"
    class="fetch grey lighten-3"
  >
    <!--############### -->
    <!--    LIST JET    -->
    <!--############### -->
    <div class="listjet">
      <v-toolbar
        color="red accent-4"
        dark
      >
        <v-toolbar-side-icon />
        <v-toolbar-title id="titleToolbar">
          Liste des jetpacks
        </v-toolbar-title>
        <v-spacer />
        <v-btn icon>
          <v-icon>search</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card>
        <v-container
          fluid
          grid-list-lg
        >
          <v-layout
            row
            wrap
          >
            <v-flex
              v-for="jetpack in jetpacks"
              :key="jetpack.id"
              xs6
            >
              <v-card
                color="jetpackCard red lighten-5"
                class="black--text"
              >
                <v-layout>
                  <v-flex xs5>
                    <v-img
                      :src="jetpack.image"
                      height="100px"
                      class="ma-2"
                      contain
                    />
                  </v-flex>
                  <v-flex xs7>
                    <v-card-title primary-title>
                      <div>
                        <div class="headline jetpackTitle">
                          {{ jetpack.name }}
                        </div>
                      </div>
                    </v-card-title>
                  </v-flex>
                </v-layout>
                <v-divider light />
                <v-card-actions class="pa-3 justify-center">
                  <v-btn
                    fab
                    dark
                    color="deep-orange accent-3"
                  >
                    <v-icon dark>
                      edit
                    </v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </div>

    <!--############### -->
    <!--  LIST JET FORM -->
    <!--############### -->
    <v-container
      id="listjetForm"
      class="grey lighten-3 mb-4 pa-2 text-xs-center"
      style="max-width: 50%; margin: auto;"
    >
      <v-form
        id="app"
        lazy-validation
      >
        <v-text-field
          id="name"
          v-model="name"
          :counter="40"
          :rules="nameRules"
          label="Nom du Jetpack"
          required
        />

        <v-flex
          xs12
          class="text-xs-center text-sm-center text-md-center text-lg-center"
        >
          <img
            v-if="imageUrl"
            :src="imageUrl"
            height="150"
          >
          <v-text-field
            id="imagePicker"
            v-model="imageName"
            label="Sélectionne une image"
            prepend-icon="attach_file"
            @click="pickFile"
          />
          <input
            id="image"
            ref="image"
            type="file"
            style="display: none"
            accept="image/*"
            @change="onFilePicked"
          >
        </v-flex>

        <v-btn
          id="btnAddJet"
          color="success"
          :disabled="!isValid"
          @click="addJetpack"
        >
          Ajouter
        </v-btn>
        <v-snackbar
          v-model="snackbar"
          :color="snackbarColor"
          :timeout="snackbarTimeout"
          top
        >
          {{ snackbarMsg }}
          <v-btn
            color="red"
            flat
            @click="snackbar = false"
          >
            <v-icon>close</v-icon>
          </v-btn>
        </v-snackbar>
      </v-form>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "ListJet",

  data () {
    return {
      // Gestion du snackbar
      snackbar: false,
      snackbarColor: "success",
      snackbarMsg: "",
      snackbarTimeout: 5000,
      // Gestion du formulaire
      valid: false,
      name: "",
      nameRules: [
        v => !!v || "Nom obligatoire",
        v => (v && v.length <= 40) || "Le nom doit contenir moins de 40 caractères"
      ],
      jetpacks: [],
      imageName: '',
      imageUrl: '',
      imageFile: '',
      errorMsg: ''
    }
  },
  computed: {
    // Activation du bouton du formulaire
    isValid: function () {
      return (this.name != null && this.name != "" && this.name.length <= 40 && this.imageUrl != null && this.imageUrl != "")
    }
  },
  mounted () {
    // Récupération des jetpacks après mount
    this.getJetPacks()
  },

  methods: {
    //----------------------------
    // Récupérateur des jetpacks
    //----------------------------
    getJetPacks: function () {
      fetch("/jetpacks")
        .then(res => res.json())
        .then(jetpacks => this.jetpacks = jetpacks)
    },

    //----------------------------
    // Ajout d'un nouveau jetpack
    //----------------------------
    addJetpack: function () {
      // Initiate
      this.errorMsg = ""
      // Test mandatory variables
      if (this.name == null || this.name == '') {
        this.errorMsg = "Veuillez attribuer un nom au jetpack de moins de 40 caractères."
        this.showSnackbar("error", this.errorMsg)
      }
      else {
        fetch("/jetpacks", {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name: this.name,
            image: this.imageUrl
          }),
        }).then(res => {
          if (!res.ok)
            throw Error(res.statusText)
          else
            return res.json()
        })
          .then(jetpack => {
            this.jetpacks.push(jetpack)
            this.showSnackbar("success", "Le jetpack a été ajouté.")
          }).catch((e) => {
            this.showSnackbar("error", e)
          })
      }
    },

    pickFile () {
      this.$refs.image.click()
    },

    onFilePicked (e) {
      const files = e.target.files
      this.imageName = ''
      this.imageFile = ''
      this.imageUrl = ''
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          this.imageName = ''
          return null
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0]
        })
      }
    },

    showSnackbar (color, msg) {
      this.snackbarColor = color
      this.snackbarMsg = msg
      this.snackbar = true
    }

  }
}
</script>
