<template>
  <v-app>
    <v-toolbar class="red accent-4">
      <v-avatar
        tile
        size="48"
      >
        <img
          :src="images.logo"
          alt="avatar"
        >
      </v-avatar>
      <v-toolbar-title class="white--text">
        JetPack Application
      </v-toolbar-title>
      <v-spacer />
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          to="/"
          class="white--text"
        >
          Home
        </v-btn>
        <v-btn
          flat
          to="/Search"
          class="white--text"
        >
          Réserver
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
export default {
    data () {
        return {
            bool: true,
            images: {
                // eslint-disable-next-line
                logo: require('./assets/jetpack.png')
            }
        }
    }
}
</script> 