{
  "imposters": [
    {
      "port": 4545,
      "protocol": "http",
      "stubs": [
        <% include addJetpack.json %>,<% include jetpack.json %>,<% include availability.json %>, <% include createBooking.json %>
      ]
    }
  ]
}